/*
#2B2A4C azul
#903749 vino
#EEEBDD beige
*/

/* Reset de estilos para una apariencia consistente en diferentes navegadores */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: 'Calibri';
    line-height: 1.8;
}

header {
    background-color: #3D3D3E;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: #3D3D3E;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footerlogin {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3D3D3E;
    color: #fff;
    text-align: center;
}

nav ul {
    /* Cambiado a 100% para ocupar todo el ancho del contenedor */
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 32px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    background-color: #f0f0f0;
    padding: 0.25rem;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #75a696;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.feature {
    text-align: center;
}

.space {
    margin-top: 0.25rem;
}

.margin {
    margin-top: 1rem;
}

/* Estilos para modales */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-contenido {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 32%;
    border-radius: 10px;
}


.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ---------------- */

/* Estilos generales para la tabla */
.table-container {
    width: 80%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 32px;
}

/* Estilos para el encabezado de la tabla */
thead {
    background-color: #f0f0f0;
    text-align: center;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    /* Alinea el texto en las celdas al centro */
}

/* Estilos alternados para las filas */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


/* Estilos para las imagenes */
img {
    display: block;
    margin-left: 636px;
    margin-right: auto;
    width: 16%;
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    background-color: #2B2A4C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #21203b;
}

.button:active {
    background-color: #1a1940;
}

/* MÁS estilos para los botones */
buttonpc {
    padding: 1.75px 20px;
    background-color: #3D3D3E;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

buttonpcOPEN {
    padding: 8px 85px;
    background-color: #3D3D3E;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.buttonpc:hover {
    background-color: #3D3D3E;
}

.buttonpc:active {
    background-color: #3D3D3E;
}


/* input */

input{
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  /* Sidebar con ancho inicial en 0 */
    .sidebar.closed {
        width: 0;
  }
  