<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- jQuery UI CSS -->
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />

    <!-- jQuery UI JS -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- datetimepicker CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
    />

    <!-- datetimepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

    <!-- datetimepicker Archivo de localización para español -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/build/jquery.datetimepicker.full.es.js"></script>

    <title>Automaster - Sistema de gestión de citas</title>
  </head>

  <body>
    <h1>Sistema de gestión de citas</h1>

    <!-- Botones -->
    <button onclick="abrirModalAñadirCita()">Añadir cita</button>
    <button onclick="abrirModalActualizarCita()">Actualizar cita</button>
    <button onclick="abrirModalEliminarCita()">Eliminar cita</button>

    <!-- AÑADIR CITA -->
    <div id="modalAñadirCita" class="modal">
      <div class="modal-contenido">
        <span class="cerrar" onclick="cerrarModalAñadirCita()">&times;</span>

        <!-- Formulario -->
        <form action="/citas" method="post" id="añadirCita">
          <!-- Campos del formulario -->
          IDCliente: <input type="text" name="IDCliente" /><br />
          FechaEntrada:
          <input type="text" name="FechaEntrada" class="datetimepicker" /><br />
          FechaSalida:
          <input type="text" name="FechaSalida" class="datetimepicker" /><br />
          IDServicio: <input type="text" name="IDServicio" /><br />
          IDEmpleado: <input type="text" name="IDEmpleado" /><br />

          <input type="submit" value="Enviar" />
        </form>
      </div>
    </div>

    <!-- ACTUALIZAR CITA -->

    <!-- ELIMINAR CITA -->
    <div id="modalEliminarCita" class="modal">
      <div class="modal-contenido">
        <span class="cerrar" onclick="cerrarModalEliminarCita()">&times;</span>

        <!-- Formulario -->
        <form action="/citas" method="DELETE" id="eliminarCita">
          <!-- Campos del formulario -->
          IDCita: <input type="text" name="IDCita" /><br />
          <input type="submit" value="Enviar" />
        </form>
      </div>
    </div>

    <!-- TABLA DE CITAS -->
    {% if data %}
    <table>
      <!-- Cabecera de la tabla -->
      <tr>
        <th>IDCita</th>
        <th>IDCliente</th>
        <th>FechaEntrada</th>
        <th>FechaSalida</th>
        <th>Servicio</th>
        <th>Empleado</th>
      </tr>

      <!-- Filas de la tabla -->
      {% for row in data %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No hay resultados disponibles.</p>
    {% endif %}

    <!-- Archivo de script JavaScript -->
    <script src="{{ url_for('static', filename='citas.js') }}"></script>
  </body>
</html>
