<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventario</title>
  <link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles.css') }}"
  />
</head>
<body>
  <h1>Sistema de gestión de inventario</h1>

  <button onclick="abrirModalAñadirArticulo()">Añadir articulo</button>
  <button onclick="abrirModalActualizarArticulo()">Actualizar articulo</button>
  <button onclick="abrirModalEliminarArticulo()">Eliminar articulo</button>

  <div id="modalAñadirArticulo" class="modal">
    <div class="modal-contenido">
      <span class="cerrar" onclick="cerrarModalAñadirArticulo()">&times;</span>
      <!-- Encabezado del formulario -->
      <h2>Añadir Articulo</h2>
      <!-- Formulario -->
      <form action="/inventario" method="post" id="añadirArticulo">
        <!-- Campos del formulario -->
        Nombre: <input type="text" name="Nombre" /><br />
        Cantidad en Stock: <input type="text" name="CantidadEnStock" /><br />
        Fecha de Adquisicion:
        <input type="text" name="FechaAdquisicion" class="datetimepicker" /><br />
        Precio de compra: <input type="text" name="PrecioCompra" /><br />
        Precio de venta: <input type="text" name="PrecioVenta" /><br />
        ID del Proveedor: <input type="text" name="IDProveedor" /><br />
        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>



  {% if data %}
  <table>
    <thead>
      <tr>
        <th>IDPieza</th>
        <th>Nombre</th>
        <th>CantidadEnStock</th>
        <th>FechaAdquisicion</th>
        <th>PrecioCompra</th>
        <th>PrecioVenta</th>
        <th>IDProveedor</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[7] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No hay resultados disponibles.</p>
  {% endif %}
  <script src="{{ url_for('static', filename='inventario.js') }}"></script>
</body>
</html>