<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

  <!-- Estilos CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- jQuery UI JS -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- jQuery UI CSS -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

  <!-- datetimepicker JS -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

  <!-- datetimepicker CSS -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />

  <!-- datetimepicker en español -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/build/jquery.datetimepicker.full.es.js"></script>

  <title>Automaster - Inventario</title>
</head>

<body>
  <header>
  </header>
  <img src="/static/logo500px.png" alt="automaster-logo">
  <h1>Sistema de gestión de inventario</h1>

  <button class="button" onclick="abrirModalAñadirArticulo()">Añadir articulo</button>
  <button class="button" onclick="abrirModalActualizarArticulo()">Actualizar articulo</button>
  <button class="button" onclick="abrirModalEliminarArticulo()">Eliminar articulo</button>

  <div id="modalAñadirArticulo" class="modal">
    <div class="modal-contenido">
      <span class="cerrar" onclick="cerrarModalAñadirArticulo()">&times;</span>
      <!-- Encabezado del formulario -->
      <h2>Añadir Articulo</h2>
      <!-- Formulario -->
      <form action="/inventario" method="post" id="añadirArticulo">
        <!-- Campos del formulario -->
        Nombre: <input type="text" name="Nombre" /><br />
        Cantidad en Stock: <input type="text" name="CantidadEnStock" /><br />
        Fecha de Adquisicion:
        <input type="text" name="FechaAdquisicion" class="datetimepicker" /><br />
        Precio de compra: <input type="text" name="PrecioCompra" /><br />
        Precio de venta: <input type="text" name="PrecioVenta" /><br />
        ID del Proveedor: <input type="text" name="IDProveedor" /><br />
        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>

  <div id="modalActualizarArticulo" class="modal">
    <div class="modal-contenido">
      <span class="cerrar" onclick="cerrarModalActualizarArticulo()">&times;</span>
      <!-- Encabezado del formulario -->
      <h2>Actualizar Articulo</h2>
      <!-- Formulario -->
      <form action="/inventario" method="PUT" id="actualizarArticulo">
        <!-- Campos del formulario -->
        ID del articulo: <input type="text" name="IDPieza" /><br />
        Nombre: <input type="text" name="Nombre" /><br />
        Cantidad en Stock: <input type="text" name="CantidadEnStock" /><br />
        Fecha de Adquisicion:
        <input type="text" name="FechaAdquisicion" class="datetimepicker" /><br />
        Precio de compra: <input type="text" name="PrecioCompra" /><br />
        Precio de venta: <input type="text" name="PrecioVenta" /><br />
        ID del Proveedor: <input type="text" name="IDProveedor" /><br />
        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>

  <div id="modalEliminarArticulo" class="modal">
    <div class="modal-contenido">
      <span class="cerrar" onclick="cerrarModalEliminarArticulo()">&times;</span>
      <!-- Encabezado del formulario -->
      <h2>Eliminar Articulo</h2>
      <!-- Formulario -->
      <form action="/inventario" method="DELETE" id="eliminarArticulo">
        <!-- Campos del formulario -->
        ID del articulo: <input type="text" name="IDPieza" /><br />
        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>


  <div class="table-container">
    {% if data %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Stock</th>
          <th>Fecha de aquisición</th>
          <th>Precio de compra</th>
          <th>Precio de venta</th>
          <th>Proveedor</th>
          <th>Teléfono del proveedor</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[7] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No hay resultados disponibles.</p>
    {% endif %}
  </div>

  <p> 2023 Taller Automaster. Todos los derechos reservados. </p>

  <!-- JavaScript  -->
  <script src="{{ url_for('static', filename='inventario.js') }}"></script>
  
  <footer>
    <p>&copy; 2023 Taller Automaster. Todos los derechos reservados.</p>
  </footer>

</body>
</html>