<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventario</title>
</head>
<body>
  <h1>Sistema de gestión de inventario</h1>

  {% if data %}
  <table>
    <thead>
      <tr>
        <th>IDPieza</th>
        <th>Nombre</th>
        <th>CantidadEnStock</th>
        <th>FechaAdquisicion</th>
        <th>Estado</th>
        <th>PrecioCompra</th>
        <th>PrecioVenta</th>
        <th>IDProveedor</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[7] }}</td>
          <td>{{ row[8] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No hay resultados disponibles.</p>
  {% endif %}
</body>
</html>