<!DOCTYPE html>
<html lang="esp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
        <title>Software</title>
    </head>
    <body id="body">
        <header>
            <h1>Taller Automaster</h1>
            <!--
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Inventario</a></li>
                    <li><a href="#">Citas</a></li>
                    <li><a href="#">Empleado</a></li>
                </ul>
            </nav>
            -->
        </header>

        <section class="hero">
            <div>
                <h1>Panel de Control<br></h1>
            </div>
        </section>

        <section class="feature space">
            <h3>Seleccione una opción</h3>
        </section>

        <section class="feature">
            <div class="margin">
                <ul>
                    <li>Regresar a <a href="http://127.0.0.1:5000/login">login</a></li>
                    <li>Visualizar e ingresar registro de <a href="/inventario">inventario</a></li>
                    <li>Visuaizar e ingresar registro de <a href="/citas">cita</a></li>
                    <li>Checar <a href="/empleados">empleados</a></li>
                    <li>Checar <a href="/clientes">clientes</a></li>
                    <li>Checar <a href="/vehiculos">vehículos</a></li>
                    <li>Checar <a href="/servicios">servicios</a></li>
                </ul>
            </div>
        </section>

        <footer>
            <p>&copy; 2023 Taller Automaster. Todos los derechos reservados.</p>
        </footer>

    </body>
</html>
