<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- jQuery UI JS -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- jQuery UI CSS -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

  <title>Automaster - Servicios</title>
</head>

<body>
  <buttonpc style="float: left;" onclick="toggleSidebar()">Menú</buttonpc>
        <div class="sidebar">
            <!-- Contenido del sidebar -->
            <buttonpcOPEN style="float: center;" onclick="toggleSidebar()">Menú</buttonpcOPEN>
            <a href="/">Login</a>
            <a href="/inventario">Inventario</a>
            <a href="/citas">Citas</a>
            <a href="/empleados">Empleados</a>  
            <a href="/clientes">Clientes</a>  
            <a href="/vehiculos">Vehículos</a>  
            <a href="/servicios">Servicios</a>   
        </div>
        <script src="{{ url_for('static', filename='paneldecontrol.js') }}"></script>
  <header>
  </header>
  <img src="/static/logo500px.png" alt="automaster-logo">
  <h1>Sistema de gestión de servicios</h1>

  <button class="button" onclick="abrirModalAñadirServicio()">Añadir servicio</button>
  <button class="button" onclick="abrirModalActualizarServicio()">Actualizar servicio</button>
  <button class="button" onclick="abrirModalEliminarServicio()">Eliminar servicio</button>

  <div id="modalAñadirServicio" class="modal">
    <div class="modal-contenido">
      <span class="cerrar" onclick="cerrarModalAñadirServicio()">&times;</span>
      <!-- Encabezado del formulario -->
      <h2>Añadir Servicio</h2>
      <!-- Formulario -->
      <form action="/servicios" method="post" id="añadirServicio">
        <!-- Campos del formulario -->
        Nombre: <input type="text" name="Nombre" /><br />
        Descripcion: <input type="text" name="Descripcion" /><br />
        Costo: <input type="text" name="Costo" /><br />
        Garantia: <input type="text" name="Garantia" /><br />
        ID del Empleado: <input type="text" name="IDEmpleado" /><br />
        ID del Vehiculo: <input type="text" name="IDVehiculo" /><br />
        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>

  <div id="modalActualizarServicio" class="modal">
    <div class="modal-contenido">
      <span class="cerrar" onclick="cerrarModalActualizarServicio()">&times;</span>
      <!-- Encabezado del formulario -->
      <h2>Actualizar Servicio</h2>
      <!-- Formulario -->
      <form action="/servicios" method="PUT" id="actualizarServicio">
        <!-- Campos del formulario -->
        ID del servicio: <input type="text" name="IDServicio" /><br />
        Nombre: <input type="text" name="Nombre" /><br />
        Descripcion: <input type="text" name="Descripcion" /><br />
        Costo: <input type="text" name="Costo" /><br />
        Garantia: <input type="text" name="Garantia" /><br />
        ID del Empleado: <input type="text" name="IDEmpleado" /><br />
        ID del Vehiculo: <input type="text" name="IDVehiculo" /><br />
        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>

  <div id="modalEliminarServicio" class="modal">
    <div class="modal-contenido">
      <span class="cerrar" onclick="cerrarModalEliminarServicio()">&times;</span>
      <!-- Encabezado del formulario -->
      <h2>Eliminar Servicio</h2>
      <!-- Formulario -->
      <form action="/servicios" method="DELETE" id="eliminarServicio">
        <!-- Campos del formulario -->
        ID del servicio: <input type="text" name="IDServicio" /><br />
        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>

  <!-- TABLA DE SERVICIOS -->
  <div class="table-container">
    {% if data %}
    <table>
      <!-- Cabecera de la tabla -->
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Costo</th>
          <th>Garantía</th>
          <th>Empleado</th>
          <th>Vehiculo</th>
          <th>Cliente</th>
        </tr>
      </thead>
      <!-- Filas de la tabla -->
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[7] }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tr></tr>
    </table>
    {% else %}
    <p>No hay resultados disponibles.</p>
    {% endif %}
  </div>

  <!-- JavaScript  -->
  <script src="{{ url_for('static', filename='servicio.js') }}"></script>
  <footer>
    <p>&copy; 2023 Taller Automaster. Todos los derechos reservados.</p>
  </footer>
</body>

</html>