<!-- TABLA DE SERVICIOS -->
{% if data %}
<table>
  <!-- Cabecera de la tabla -->
  <tr>
    <th>IDServicio</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Costo</th>
    <th>Garantia</th>
    <th>IDEmpleado</th>
    <th>IDVehiculo</th>
  </tr>

  <!-- Filas de la tabla -->
  {% for row in data %}
  <tr>
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[6] }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No hay resultados disponibles.</p>
{% endif %}