<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página con Hipervínculos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: #0066cc;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Páginas</h1>
    <p>uwu owo</p>
    <ul>
        <li><a href="http://127.0.0.1:5000/login">LOGIN</a></li>
        <li><a href="http://127.0.0.1:5000/paneldecontrol">PANEL DE CONTROL</a></li>
        <li><a href="http://127.0.0.1:5000/inventario">INVENTARIO</a></li>
        <li><a href="http://127.0.0.1:5000/citas">CITAS</a></li>
        <li><a href="http://127.0.0.1:5000/empleados">EMPLEADOS</a></li>
        <li><a href="http://127.0.0.1:5000/clientes">CLIENTES</a></li>
        <li><a href="http://127.0.0.1:5000/vehiculos">VEHICULOS</a></li>
        <li><a href="http://127.0.0.1:5000/servicios">SERVICIOS</a></li>
    </ul>
</body>
</html>
