<!--
Materia: Ingeniería de Software I 
Maestro: González Zamora Pedro 

Integrantes del equipo: 
- Cárdenas Rosas Sofía 
- Figueroa Hernández Sofia Belem 
- López Cerecer Angélica Guadalupe 
- Matus Valencia Elda Berenice 
- Vega Gutiérrez Marian Eugenia
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

  <!-- Estilos CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- jQuery UI JS -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- jQuery UI CSS -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

  <title>Automaster - Vehículos</title>
</head>

<body>
  <buttonpc style="float: left;" onclick="toggleSidebar()">Menú</buttonpc>
        <div class="sidebar">
            <!-- Contenido del sidebar -->
            <buttonpcOPEN style="float: center;" onclick="toggleSidebar()">Menú</buttonpcOPEN>
            <a href="/inventario">Inventario</a>
            <a href="/citas">Citas</a>
            <a href="/empleados">Empleados</a>  
            <a href="/clientes">Clientes</a>  
            <a href="/vehiculos">Vehículos</a>  
            <a href="/servicios">Servicios</a>    
            <a href="/">Cerrar sesión</a>
        </div>
        <script src="{{ url_for('static', filename='paneldecontrol.js') }}"></script>
  <header>
  </header>
  <img src="/static/logo500px.png" alt="automaster-logo">
  <h1>Sistema de gestión de vehículos</h1>

  <button class="button" onclick="abrirModalAñadirVehiculo()">Añadir vehículo</button>
  <button class="button" onclick="abrirModalActualizarVehiculo()">Actualizar vehículo</button>
  <button class="button" onclick="abrirModalEliminarVehiculo()">Eliminar vehículo</button>

  <div id="modalAñadirVehiculo" class="modal">
    <div class="modal-contenido">
      <span class="cerrar" onclick="cerrarModalAñadirVehiculo()">&times;</span>
      <!-- Encabezado del formulario -->
      <h2>Añadir vehículo</h2>
      <!-- Formulario -->
      <form action="/vehiculos" method="post" id="añadirVehiculo">
        <!-- Campos del formulario -->
        Marca: <input type="text" name="Marca" /><br />
        Modelo: <input type="text" name="Modelo" /><br />
        Anio: <input type="text" name="Anio" /><br />
        Placa: <input type="text" name="Placa" /><br />
        Color: <input type="text" name="Color" /><br />
        IDCliente: <input type="text" name="IDCliente" /><br />
        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>

  <div id="modalActualizarVehiculo" class="modal">
    <div class="modal-contenido">
      <span class="cerrar" onclick="cerrarModalActualizarVehiculo()">&times;</span>
      <!-- Encabezado del formulario -->
      <h2>Actualizar vehículo</h2>
      <!-- Formulario -->
      <form action="/vehiculos" method="PUT" id="actualizarVehiculo">
        <!-- Campos del formulario -->
        ID del vehiculo: <input type="text" name="IDVehiculo" /><br />
        Marca: <input type="text" name="Marca" /><br />
        Modelo: <input type="text" name="Modelo" /><br />
        Anio: <input type="text" name="Anio" /><br />
        Placa: <input type="text" name="Placa" /><br />
        Color: <input type="text" name="Color" /><br />
        ID del Cliente: <input type="text" name="IDCliente" /><br />
        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>

  <div id="modalEliminarVehiculo" class="modal">
    <div class="modal-contenido">
      <span class="cerrar" onclick="cerrarModalEliminarVehiculo()">&times;</span>
      <!-- Encabezado del formulario -->
      <h2>Eliminar vehículo</h2>
      <!-- Formulario -->
      <form action="/vehiculos" method="DELETE" id="eliminarVehiculo">
        <!-- Campos del formulario -->
        ID del vehiculo: <input type="text" name="IDVehiculo" /><br />
        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>

  <!-- TABLA DE VEHICULOS -->
  <div class="table-container">
    {% if data %}
    <table>
      <!-- Cabecera de la tabla -->
      <thead>
        <tr>
          <th>ID</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Año</th>
          <th>Placa</th>
          <th>Color</th>
          <th>Cliente</th>
        </tr>
      </thead>
      <!-- Filas de la tabla -->
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No hay resultados disponibles.</p>
    {% endif %}
  </div>
  
  <!-- JavaScript  -->
  <script src="{{ url_for('static', filename='vehiculo.js') }}"></script>
  <footer>
    <p>&copy; 2023 Taller Automaster. Todos los derechos reservados.</p>
</footer>
</body>

</html>